*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar
{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

#navbar__logo
{
    color: antiquewhite;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
}

.navbar__menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item
{
    height: 80px;
}

.navbar__links
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;/*o "rem" usa núemoros inteiros e o "em" números com virgula*/
    height: 100%;
}

.navbar__btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    width: 100%;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:#fff;
    color: #000; 
}
.baixo
{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*Slideshow Container*/
.slideshow__container
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Escondendo as imagens pelo default*/
.mySlides
{
    display:none;
}

/*Botões de próximo e anterior*/
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0,6s ease;
    border-radius: 0    3px     3px    0;
               /*cima esquerda baixo direita*/
    user-select: none;           
}

/*Posicionando o "botão de próximo" na direita*/
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*No hover, iremos adicionar uma cor preta com um pouco de transparência*/
.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.8);
}

/*Os pontos/bullets/indicadores*/
.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;  
}

.active, .dot:hover
{
    background-color: #717171;
}

/*Animação de fade*/
.fade
{
    animation-name: fade;
    animation-duration: 1,5s;
}

@keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}